html {
    font-size: 62.5%;
}

body {
    margin: 0;
    background-color: #880b73;
}

.boxes {
    display: grid;
    grid-template: 50px auto 100px / 10fr 60fr 20fr;
    grid-template-areas: 
    "header header header"
    "left-sidebar main main"
    "footer footer footer";
    height: 300vh;
    gap: 1px;
    position: relative;
}

.box {
    background-color: gold;
}

.box-header {
    grid-area: header;
    background-color: #000000;
}
    

.box-left-sidebar {
    grid-area: left-sidebar;
    background-color: #000000;
    background-image: linear-gradient(1deg, #000000 0%, #7d1482 50%, #000000 100%);
}

.box-main {
    grid-area: main;
    background-color: #000000;
    background-image: linear-gradient(1deg, #000000 0%, #7d1482 50%, #000000 100%);
}

.box-footer {
    grid-area: footer;
    background-color: #000000;
}


/* hiding elements */
.first-paragraph {
    /* display: none; */
    visibility: hidden;
    color: aquamarine;
}

.second-paragraph {
    color: aquamarine;
}