body {
    background: url(../images/rose-petals.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300vh;
    background-attachment: fixed;
}


img {
    width: 100px;
    height: 100px;
}