body {
    margin: 10px;
}

/* this rule well apply to all the elements */
*, *::before, *::after {
    box-sizing: border-box;
} 

.box::before {
    content: "Picture";
}

.box {
    height: 100px;
    width: 80px;
    background-color: gold;
    border: 5px solid green;
    padding: 10px;
    display: inline-block;
    box-shadow: 0 0 30px black;
    margin: 10px;
} 
/* height and width properties only to the block level eyelets */
