html {
    /* 62.5% of 16 = 10px */
    font-size: 65.2%;
}

body {
    margin: 0px;
    /* by default we have width 100% bu the height property is not set by default it is based on the content present init*/
    /* width: 300px;
    height: 300px; */
}

.box {
    /* this means the 50% width of the parent element */
    width: 16rem; /* viewport width */
    height: 100vh; /* viewport height */
    background-color: gold;
    /* the below txt are used to center a div */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* min-height: 100vh; */

} 

/* practicing the centering a div */
/* .login-page {
    width: 50%;
    height: 50%;
    background-color: aliceblue;
    border: 2px solid black;
    box-shadow: 0 0 30px black;
    box-sizing: border-box;
} */