html {
    font-size: 62.5%;
}

body {
    height: 200vh;
}

.boxes {
    border: 3px solid lightgray;
    position: relative;
}

.box {
    width: 5rem;
    height: 5rem;
}

.box-one {
    background-color: gold;
}

.box-two {
    background-color: tomato;
    position: absolute;
    top: 2.5rem;
    bottom: 0;
    z-index: 0;
}

.box-three {
    background-color: blue;
}

 